<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::head-fragment('忘记密码')">
</head>
<body>

<div th:replace="header::header-fragment"></div>
    

  </div>
</div>
<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>

    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">找回密码</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post" th:action="@{/DoLogin}">
              <div class="layui-form-item">
                <label for="mailAddress" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" id="mailAddress" name="mailAddress" required lay-verify="required"  placeholder="请输入邮箱账号"
                         autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="Vemail" class="layui-form-label">邮箱验证码</label>
                <div class="layui-input-inline">
                  <input type="text" id="Vemail" name="Vemail" lay-verify="required"  placeholder="请输入邮箱验证码"
                         autocomplete="off" class="layui-input">
                </div>
                <button class="layui-btn" alert="1" lay-filter="*" onclick="getCode()"
                        style="height: 25px;line-height: 25px;margin-top: 4px;background-color: #3e4342;">发送</button>

              </div>

              <form method="post">
                <div class="layui-form-item">
                  <label for="newPassword" class="layui-form-label">新密码</label>
                  <div class="layui-input-inline">
                    <input type="password" id="newPassword" name="newPassword"
                           lay-verify="required" placeholder="请输入新密码"
                           autocomplete="off" class="layui-input">
                  </div>
                  <div class="layui-form-mid layui-word-aux">6到20个字符</div>

                </div>
                <div class="layui-form-item">
                  <label for="againPassword" class="layui-form-label">确认密码</label>
                  <div class="layui-input-inline">
                    <input type="password" id="againPassword" name="againPassword"
                           lay-verify="required" placeholder="再次输入密码"
                           autocomplete="off" class="layui-input">
                  </div>
                </div>

              <div class="layui-form-item">
                <label for="verifyCode" class="layui-form-label">验证码</label>
                <div class="layui-input-inline">
                  <input type="text" id="verifyCode" name="verifyCode" lay-verify="required"
                         placeholder="请输入验证码" autocomplete="off" class="layui-input">
                </div>


                <div class="layui-form-mid">
                  <span><img data-tooltip="看不清楚？换一张"
                             th:src="@{/common/captcha}"
                             onclick="this.src='/common/captcha?d='+new Date()*1"
                             alt="单击图片刷新"></span>
                </div>
              </div>

              <div class="layui-form-item">
                <button class="layui-btn" alert="1" lay-filter="*" lay-submit>提交</button>
              </div>
            </form>
          </div>

          
          <!-- 重置密码模版也在该页面中，HTML被注释部分 -->
          
          <!-- <div class="fly-error">该重置密码链接已失效，请重新校验您的信息</div>
          <div class="fly-error">非法链接，请重新校验您的信息</div>
          
          <div class="fly-msg">马云，请重置您的密码</div>
          <div class="layui-form layui-form-pane"  style="margin-top: 30px;">
            <form action="/user/repass" method="post">
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="pass" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
              </div>
              <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="repass" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">人类验证</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请回答后面的问题" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">
                  <span style="color: #c00;">{{d.vercode}}</span>
                </div>
              </div>
              <div class="layui-form-item">
                <input type="hidden" name="username" value="{{d.username}}">
                <input type="hidden" name="email" value="{{d.email}}">
                <button class="layui-Vemailn" alert="1" lay-filter="*" lay-submit>提交</button>
              </div>
            </form>
          </div>
          -->
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['layer', 'element', 'jquery', 'form'], function () {
        var layer = layui.layer, $ = layui.$, element = layui.element, form = layui.form;
        var device = layui.device();
        //阻止IE7以下访问
        if (device.ie && device.ie < 8) {
            layer.alert('如果您非得使用 IE 浏览器访问社区，那么请使用 IE8+');
        }

        //修改密码
        window.updatePassword = function () {
            var $ = layui.$;
            var originalPassword = $("#originalPassword").val();
            if (!validPassword(originalPassword)) {
                layer.alert('请输入正确的密码格式', {title: '提醒', skin: 'layui-layer-molv', icon: 2});
                return false;
            }
            var newPassword = $("#newPassword").val();
            if (!validPassword(newPassword)) {
                layer.alert('请输入正确的密码格式', {title: '提醒', skin: 'layui-layer-molv', icon: 2});
                return false;
            }
            if (newPassword != newPassword) {
                layer.alert('确认密码与密码字段不相同', {title: '提醒', skin: 'layui-layer-molv', icon: 2});
                return false;
            }
            var params = $("#passwordForm").serialize();
            var url = '/updatePassword';
            $.ajax({
                type: 'POST',//方法类型
                url: url,
                data: params,
                success: function (result) {
                    if (result.resultCode == 200) {
                        layer.alert('修改成功', {title: '信息', skin: 'layui-layer-molv', icon: 1});
                    } else {
                        layer.msg(result.message);
                    }
                    ;
                },
                error: function () {
                    layer.alert('操作失败', {title: '提醒', skin: 'layui-layer-molv', icon: 2});
                }
            });
        }
    });
</script>


</body>
</html>